{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Protein Disorder Prediciton - Individual Project
{% endblock %}

{% block body_block %}
<h1>Protein Disorder Prediction - Individual Project</h1>
<div id="intro">
    <br>
    <p>This server uses deep learning methods to examine the intrinsic disorder in protein sequences.</p>
    <p>Protein sequences can be found from the following websites: <a href="https://www.rcsb.org/">Protein Data Bank</a> and <a href="https://www.uniprot.org/">UniProt</a>.</p><br><br>
</div>

{% if form %}
<div id="form">
    <p>Please enter your protein sequence in FASTA format: </p>
    <form id="seq_form" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Submit Sequence" />
    </form>
</div>
{% endif %}

<div id="returnedSeq">
    {% if input_seq %}
    <p>To enter another sequence: <a href="{% url 'index' %}">return to home page</a></p>
    <br>

    <h4>Name of entered sequence: {{ input_seq_id }}</h4>

    <p>Positions in the sequence that have been identified as being disordered are coloured red, ordered residues are green.</p>

    <script>
        var table = labelled_table("{{ input_seq }}", "{{ generated_label }}")
    </script>

    <button onclick="downloadTableAsImage('{{ input_seq_id }}')">Download Prediction as PNG</button>

    {% endif %}
</div>

{% endblock %}
