{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Protein Disorder Prediciton - Individual Project
{% endblock %}

{% block body_block %}
<h1>Project Django Server</h1>
<div id="intro">
    <p>Server for protein disorder prediction using a deep neural network.</p><br>
</div>

{% if form %}
<div id="form">
    <p>Protein sequence: </p>
    <form id="seq_form" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Submit Sequence" />
    </form>
</div>
{% endif %}

<div id="returnedSeq">
    {% if input_seq %}
    <a href="{% url 'index' %}"><p>Return to home page</p></a>

    <h4>Tabled disorder label: </h4>
    <script>
    const string_seq = "{{ input_seq }}";
    const string_label = "{{ generated_label }}";
    // Table will have 60 characters along each row
    const chunks = string_seq.match(/.{1,60}/g);
    const table = document.createElement("table");
    table.setAttribute('class', 'graph-wrapper');
    // label indexer for separate label list as zipping the sequence and label together in a tuple is tricky to work with.
    label_indexer = 0;
    chunks.forEach(chunk => {
        const row = document.createElement("tr");
        for (let i = 0; i < chunk.length; i++) {
            cell = document.createElement("td");
            // chunk[i] is an amino acid identifier
            cell.textContent = chunk[i]
            // Identify if amino acid is labelled ordered/disordered
            if (string_label[label_indexer] == '0') {
                cell.setAttribute('class', 'ordered');
            } else {
                cell.setAttribute('class', 'disordered');
            }
            row.appendChild(cell);
            label_indexer = label_indexer + 1;
        }
        table.appendChild(row);
    });
    
    document.body.appendChild(table);
    </script>
    {% endif %}
</div>

{% endblock %}
